In [2]:
import pandas as pd
import datetime
import os.path
import csv
from pathlib import Path

In [29]:
monthly_csv = Path("./aggregatedata.csv")
monthly_df = pd.read_csv(monthly_csv, parse_dates=True, infer_datetime_format=True)
tech_csv = Path("./TechnologySectorTickers-between-2015-2018.csv")
tech_df = pd.read_csv(tech_csv)
tech_df.head()

   2015  2016  2017  2018
0  AAOI  AAOI  AAOI  AAOI
1  AAPL  AAPL  AAPL  AAPL
2  ACIW  ABTL  ACIA  ACIA
3  ACLS  ACIA  ACIW  ACIW
4   ACN  ACIW  ACLS  ACLS

In [82]:
# Filter to 4 year needed for 2017 stocks
df_2017 = monthly_df[(monthly_df['Date'] > '2014-12-31') & (monthly_df['Date'] < '2019-02-01')]

# Create empty dataframe with dates
prices_df = df_2017[df_2017['Ticker']=='A']
prices_df = prices_df[['Date','Adj Close']].copy()
prices_df = prices_df.drop(columns=["Adj Close"])
prices_df = prices_df.set_index('Date')

df_2017.head()

     Unnamed: 0 Ticker        Date  Adj Close
120         120      A  2015-01-02  38.817013
121         121      A  2015-02-02  37.027374
122         122      A  2015-03-02  40.865044
123         123      A  2015-04-01  39.708900
124         124      A  2015-05-01  40.131039

In [28]:
# put 2017 tickers into a list and removed nulls
tech_2017 = tech_df['2017'].tolist()
tech_2017 = [x for x in tech_2017 if str(x) != "nan"]

      Unnamed: 0 Ticker        Date  Adj Close
1057        1057   AAOI  2013-09-26       9.96
1058        1058   AAOI  2013-10-01      10.00
1059        1059   AAOI  2013-11-01      12.76
1060        1060   AAOI  2013-12-02      12.58
1061        1061   AAOI  2014-01-02      14.63

In [84]:
# Compare if ticker from list is in dataframe then reform to add to prices_df
for ticker in tech_2017:
    
    if ticker in df_2017.values:
        ticker_df = df_2017[df_2017['Ticker']==ticker]
        ticker_df = ticker_df[['Date', 'Adj Close']].copy()
        ticker_df = ticker_df.rename(columns={'Adj Close':ticker})
        ticker_df = ticker_df.set_index('Date')
        prices_df = pd.concat([prices_df, ticker_df], axis="columns", sort=True)
        
        
prices_df.head()

,AAOI,AAPL,ACIA,ACIW,ACLS,ACN,ADBE,ADI,ADP,ADS,...,XPER,XRX,YELP,YEXT,Z,ZBRA,ZEN,ZG,ZIXI,ZNGA
2015-01-02,10.79,100.755898,NaN,19.709999,10.20,80.515182,72.339996,49.634590,74.909462,275.623779,...,30.498085,32.851536,55.150002,NaN,NaN,77.430000,24.570000,32.329281,3.55,2.73
2015-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-02,8.71,109.326523,NaN,18.799999,9.84,77.787247,71.110001,46.739082,75.044365,281.563721,...,32.114559,31.967535,53.470001,NaN,NaN,84.070000,23.450001,29.756783,3.52,2.57
2015-03-02,13.27,119.435738,NaN,20.469999,11.52,82.635902,79.790001,53.784683,81.106209,272.648926,...,36.233646,32.445374,47.860001,NaN,NaN,91.800003,24.110001,35.703148,4.01,2.32
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
prices_df

,AAOI,AAPL,ACIA,ACIW,ACLS,ACN,ADBE,ADI,ADP,ADS,...,XPER,XRX,YELP,YEXT,Z,ZBRA,ZEN,ZG,ZIXI,ZNGA
2015-01-02,10.790000,100.755898,NaN,19.709999,10.200000,80.515182,72.339996,49.634590,74.909462,275.623779,...,30.498085,32.851536,55.150002,NaN,NaN,77.430000,24.570000,32.329281,3.55,2.73
2015-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-02,8.710000,109.326523,NaN,18.799999,9.840000,77.787247,71.110001,46.739082,75.044365,281.563721,...,32.114559,31.967535,53.470001,NaN,NaN,84.070000,23.450001,29.756783,3.52,2.57
2015-03-02,13.270000,119.435738,NaN,20.469999,11.520000,82.635902,79.790001,53.784683,81.106209,272.648926,...,36.233646,32.445374,47.860001,NaN,NaN,91.800003,24.110001,35.703148,4.01,2.32
2015-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-01,13.430000,114.957703,NaN,21.639999,10.400000,84.792885,75.070000,56.294861,77.125053,284.519165,...,35.170742,30.333807,45.500000,NaN,NaN,89.559998,22.570000,30.336763,3.98,2.79
2015-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-05-01,13.610000,119.306213,NaN,23.020000,10.320000,86.459160,76.430000,56.924656,77.821587,288.392242,...,32.042545,27.580545,39.759998,NaN,NaN,92.500000,22.549999,30.473963,4.47,2.47
2015-06-01,17.850000,121.281799,NaN,23.900000,12.840000,89.079964,79.870003,62.227398,77.161247,286.991730,...,34.015308,27.436895,47.410000,NaN,NaN,110.339996,22.540001,28.659184,4.59,2.94
2015-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-01,18.070000,117.621239,NaN,24.400000,12.120000,90.811737,80.940002,58.443989,73.605713,282.857910,...,32.912144,25.631308,42.439999,NaN,NaN,112.809998,21.730000,27.486748,5.16,2.84
2015-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-03,19.020000,110.039970,NaN,23.480000,11.680000,95.581070,81.400002,53.103745,72.895966,264.062561,...,30.089123,26.255291,25.920000,NaN,27.740000,105.680000,20.490000,23.854069,4.92,2.49
2015-09-01,19.670000,100.533249,NaN,20.790001,12.640000,85.468254,75.989998,48.855629,68.337135,243.779755,...,28.180771,23.471363,23.400000,NaN,24.430000,80.620003,20.200001,25.370001,4.36,2.50
2015-10-01,18.040001,102.269157,NaN,20.959999,10.560000,91.163666,83.750000,50.123783,74.069839,253.389954,...,27.979727,23.196507,20.870001,NaN,26.110001,76.860001,20.120001,27.680000,4.25,2.27
2015-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-11-02,20.330000,113.095245,NaN,24.139999,11.760000,100.717224,89.910004,55.050396,79.655525,288.228088,...,31.283806,23.316818,23.799999,NaN,28.459999,78.620003,20.790001,30.870001,5.14,2.39
2015-11-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-01,18.830000,109.980186,NaN,23.580000,10.600000,101.213310,92.550003,56.172569,80.177452,279.284332,...,29.633356,25.723097,30.309999,NaN,24.100000,79.889999,25.820000,25.750000,5.68,2.60
2015-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,16.290001,98.742249,NaN,20.670000,10.320000,95.316299,91.970001,49.992390,75.614624,262.430267,...,25.763166,24.846624,27.600000,NaN,22.110001,66.489998,26.059999,24.510000,4.82,2.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-01,70.010002,148.011337,47.480000,23.160000,22.299999,120.887428,141.380005,78.037407,98.090378,235.001785,...,28.386343,26.373238,28.830000,14.790000,44.700001,108.139999,27.049999,44.990002,5.92,3.58
2017-07-03,61.389999,138.657959,40.250000,22.219999,20.700001,119.575211,138.410004,72.655190,97.758316,251.125626,...,29.664186,26.849030,30.070000,13.020000,48.860001,99.690002,27.230000,48.630001,5.60,3.62
2017-08-01,99.610001,144.986969,46.369999,23.200001,21.400000,125.296844,147.360001,75.366280,111.464737,233.270737,...,26.287033,30.208647,33.220001,12.820000,45.470001,101.150002,28.980000,45.669998,5.45,3.62
2017-09-01,58.980000,159.137039,48.110001,22.730000,21.500000,125.528412,155.059998,80.549805,102.463928,219.475906,...,25.436485,30.301712,42.980000,13.250000,39.669998,104.180000,27.480000,39.950001,5.22,3.74
2017-10-02,64.519997,149.203720,48.009998,23.180000,28.549999,130.680756,147.940002,82.373695,104.897644,218.033386,...,24.240559,31.370291,44.090000,13.450000,40.599998,109.879997,29.459999,40.560001,5.19,3.84
2017-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01,38.970001,161.892014,43.400002,23.770000,31.799999,139.272491,176.250000,87.336082,110.731674,220.470032,...,20.606773,28.398275,46.029999,11.650000,40.299999,113.769997,30.610001,40.529999,4.70,3.84
2017-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-01,43.380001,166.523895,38.349998,22.889999,31.049999,142.789383,179.520004,82.403458,109.148430,228.629059,...,17.698040,27.863871,43.889999,13.490000,40.810001,110.360001,33.389999,40.930000,4.49,3.96
2018-01-02,37.910000,167.701889,36.849998,22.690001,29.549999,149.871857,177.699997,87.112221,111.905991,249.437485,...,22.900618,27.771238,43.240002,11.850000,42.480000,103.709999,34.060001,42.299999,4.48,3.92
2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,33.490002,163.340424,39.540001,23.760000,26.350000,156.321106,199.380005,88.434158,116.180008,251.176422,...,20.299332,30.967247,45.799999,11.950000,44.700001,121.500000,38.830002,45.090000,4.22,3.69
2018-03-01,27.820000,171.063995,38.880001,23.160000,24.400000,152.122253,206.029999,85.211334,109.783455,230.447632,...,20.487286,28.887005,43.009998,12.500000,47.959999,140.679993,42.680000,47.799999,4.08,3.44
2018-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-02,24.020000,162.931122,37.060001,23.209999,23.250000,144.162994,212.279999,86.081444,109.911888,203.667343,...,19.033955,26.763266,40.709999,12.400000,52.990002,137.399994,46.000000,53.040001,4.29,3.55
2018-05-01,31.530001,165.296692,28.770000,23.160000,22.500000,149.307373,224.080002,86.188141,115.247421,199.065262,...,21.706211,30.797789,44.500000,13.090000,49.720001,136.779999,48.580002,49.560001,5.19,3.52
2018-06-01,45.020000,186.678314,32.790001,24.400000,21.750000,156.157516,251.309998,95.441292,128.760864,206.096176,...,18.317238,26.086077,43.110001,16.980000,59.029999,152.490005,56.840000,59.020000,5.40,4.47
2018-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-02,45.980000,183.675583,35.180000,25.030001,20.049999,160.422882,243.259995,93.855370,131.493820,232.165039,...,15.950671,23.319504,39.610001,19.549999,60.250000,148.279999,56.299999,61.099998,5.49,4.13
2018-08-01,37.400002,197.727493,32.410000,26.459999,22.350000,156.963425,248.009995,93.592247,129.299973,221.462570,...,15.240699,24.562569,37.509998,21.799999,56.680000,138.830002,61.040001,57.389999,5.36,3.85
2018-09-04,36.720001,224.870499,40.779999,28.360001,20.250000,166.585052,266.679993,96.069839,142.170502,233.189468,...,15.475039,26.566891,46.730000,25.209999,47.689999,169.960007,69.680000,47.389999,5.53,4.16
2018-10-01,24.000000,223.787323,40.540001,27.260000,19.620001,170.526077,275.489990,90.468788,147.669968,234.114731,...,14.248535,26.337687,48.430000,22.950001,42.299999,173.199997,69.199997,42.169998,5.46,4.01
2018-11-01,20.139999,218.824341,36.480000,25.430000,18.639999,157.277313,245.279999,86.170074,138.040192,204.269653,...,13.625702,27.738213,43.689999,19.170000,41.939999,169.000000,55.150002,41.840000,6.51,3.66
2018-12-03,21.580000,182.630859,43.669998,29.440001,20.090000,165.449631,255.259995,92.058777,144.407806,196.482117,...,14.086962,26.746172,35.299999,15.140000,37.020000,181.369995,61.389999,36.610001,6.43,3.65
2019-01-02,15.880000,156.049484,38.360001,27.139999,17.790001,139.435089,224.570007,84.586571,128.215240,153.375504,...,18.578457,19.830105,34.570000,15.000000,30.350000,156.240005,57.590000,30.350000,5.84,3.98

In [102]:
three_df = prices_df.loc['2015-01-02':'2018-01-02']
three_df = three_df.pct_change()
cumulative_returns = (1 + three_df).cumprod() - 1
test = cumulative_returns.tail(1).T

In [106]:
find_top = test.sort_values(by=['2018-01-02'], ascending=False)
top = find_top.head(10)
top = top.reset_index()
top

  index  2018-01-02
0   BKI  915.999956
1  NVDA    9.203761
2  USAT    5.018519
3  FIVN    4.334076
4  COHR    3.854833
5  EBIX    3.692321
6   ITI    3.192982
7   AMD    3.112359
8  TTWO    3.017082
9  STMP    2.936752

In [107]:
top_list = top['index'].tolist()

In [108]:
top_list

['BKI', 'NVDA', 'USAT', 'FIVN', 'COHR', 'EBIX', 'ITI', 'AMD', 'TTWO', 'STMP']

In [113]:
one_df = prices_df[top_list].copy()
one_df = one_df.loc['2018-01-02':'2019-01-02']
one_returns = one_df.pct_change()
one_returns

,BKI,NVDA,USAT,FIVN,COHR,EBIX,ITI,AMD,TTWO,STMP
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-02-01,0.080698,0.206421,-0.148718,0.081420,-0.124824,0.075081,-0.054393,0.206740,0.104181,0.101148
2018-03-01,-0.034309,-0.033870,-0.030120,0.171429,-0.178676,0.000885,-0.174041,-0.101887,-0.137195,-0.068105
2018-03-05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-04-02,-0.019854,-0.048060,0.062112,-0.050428,-0.111759,-0.115593,-0.133929,-0.199160,-0.108053,0.019766
2018-05-01,0.042644,0.027550,0.040936,0.043388,-0.053016,0.066031,0.057732,0.167891,0.087365,0.169855
2018-06-01,0.036810,0.134892,0.500000,0.184298,-0.054168,-0.042464,-0.003899,0.293800,0.098658,0.123174
2018-06-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2018-07-02,0.059172,-0.059700,0.041198,-0.007865,-0.085725,0.042724,-0.031311,0.052778,0.046077,-0.005047
2018-08-01,-0.025140,0.017462,-0.010791,-0.068800,0.176953,0.016005,-0.012121,0.218997,-0.063652,0.007803
2018-09-04,0.029608,0.151682,0.178182,0.473700,0.065718,-0.023017,0.049080,0.518398,0.198592,-0.020132
2018-10-01,-0.036735,0.019951,-0.551235,-0.128327,-0.096529,0.016139,0.009747,0.119743,0.021408,-0.134611
2018-11-01,-0.055470,-0.246233,-0.178817,-0.073373,-0.222608,-0.290978,-0.146718,-0.356461,-0.061859,-0.166918
2018-12-03,-0.071166,-0.219613,-0.197655,0.090677,0.024819,-0.145059,0.024887,0.172601,-0.197425,-0.067792
2019-01-02,-0.012953,-0.198894,-0.177453,-0.002576,-0.223418,-0.081671,-0.194261,-0.205820,0.005316,-0.114227

In [127]:
weights = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
portfolio_monthly = one_returns.dot(weights)
portfolio_one = (1 + portfolio_monthly).cumprod() - 1

In [128]:
portfolio_one = portfolio_one.tail(1)

In [129]:
portfolio_one = pd.DataFrame(portfolio_one)
portfolio_one = portfolio_one.reset_index(drop=True)

In [132]:
portfolio_one = portfolio_one.rename(columns={0:'Annual Return'})
portfolio_one['Sector'] = "Information Technology"
portfolio_one['Year'] = '2018'
portfolio_one['Portfolio']='Top'
portfolio_one

   Annual Return                  Sector  Year Portfolio
0      -0.168781  Information Technology  2018       Top

In [133]:
IT_csv = Path("./top_IT.csv")
portfolio_one.to_csv(path_or_buf=IT_csv, index=False)