In [18]:
import pandas as pd
import datetime
import os.path
import csv
from pathlib import Path

In [19]:
monthly_csv = Path("./aggregatedata.csv")
monthly_df = pd.read_csv(monthly_csv, parse_dates=True, infer_datetime_format=True)
tech_csv = Path("./TechnologySectorTickers-between-2015-2018.csv")
tech_df = pd.read_csv(tech_csv)
tech_df.head()

   2015  2016  2017  2018
0  AAOI  AAOI  AAOI  AAOI
1  AAPL  AAPL  AAPL  AAPL
2  ACIW  ABTL  ACIA  ACIA
3  ACLS  ACIA  ACIW  ACIW
4   ACN  ACIW  ACLS  ACLS

In [20]:
# Filter to 4 year needed for 2017 stocks
df_2016 = monthly_df[(monthly_df['Date'] > '2013-12-31') & (monthly_df['Date'] < '2018-02-01')]

# Create empty dataframe with dates
prices_df = df_2016[df_2016['Ticker']=='A']
prices_df = prices_df[['Date','Adj Close']].copy()
prices_df = prices_df.drop(columns=["Adj Close"])
prices_df = prices_df.set_index('Date')

df_2016.head()

     Unnamed: 0 Ticker        Date  Adj Close
108         108      A  2014-01-02  38.010223
109         109      A  2014-02-03  37.969650
110         110      A  2014-03-03  38.348331
111         111      A  2014-04-01  38.111668
112         112      A  2014-05-01  36.958378

In [21]:
# put 2017 tickers into a list and removed nulls
tech_2016 = tech_df['2016'].tolist()
tech_2016 = [x for x in tech_2016 if str(x) != "nan"]

In [22]:
# Compare if ticker from list is in dataframe then reform to add to prices_df
for ticker in tech_2016:
    
    if ticker in df_2016.values:
        ticker_df = df_2016[df_2016['Ticker']==ticker]
        ticker_df = ticker_df[['Date', 'Adj Close']].copy()
        ticker_df = ticker_df.rename(columns={'Adj Close':ticker})
        ticker_df = ticker_df.set_index('Date')
        prices_df = pd.concat([prices_df, ticker_df], axis="columns", sort=True)
        
        
prices_df.head()

,AAOI,AAPL,ACIA,ACIW,ACLS,ACN,ADBE,ADI,ADP,ADS,...,XLNX,XOXO,XRX,YELP,Z,ZBRA,ZEN,ZG,ZIXI,ZNGA
2014-01-02,14.63,71.320679,NaN,21.000000,9.52,71.681305,59.290001,42.808182,61.578381,253.380310,...,40.286274,NaN,28.242382,67.919998,NaN,53.180000,NaN,25.584658,4.57,3.95
2014-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-03,13.61,64.667366,NaN,19.353333,9.28,68.995354,58.090000,41.053459,57.121521,227.679108,...,39.453735,NaN,24.685408,74.489998,NaN,53.200001,NaN,24.119114,4.41,4.49
2014-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
prices_df

,AAOI,AAPL,ACIA,ACIW,ACLS,ACN,ADBE,ADI,ADP,ADS,...,XLNX,XOXO,XRX,YELP,Z,ZBRA,ZEN,ZG,ZIXI,ZNGA
2014-01-02,14.630000,71.320679,NaN,21.000000,9.520000,71.681305,59.290001,42.808182,61.578381,253.380310,...,40.286274,NaN,28.242382,67.919998,NaN,53.180000,NaN,25.584658,4.57,3.95
2014-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-03,13.610000,64.667366,NaN,19.353333,9.280000,68.995354,58.090000,41.053459,57.121521,227.679108,...,39.453735,NaN,24.685408,74.489998,NaN,53.200001,NaN,24.119114,4.41,4.49
2014-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-03,25.110001,68.456795,NaN,20.150000,8.800000,72.891747,67.860001,44.259823,59.118610,268.698608,...,45.737076,NaN,25.776215,94.970001,NaN,69.199997,NaN,25.799812,4.47,5.24
2014-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-01,24.360001,70.258507,NaN,20.153334,9.000000,70.276489,65.930000,47.322491,60.129108,263.251282,...,48.451347,NaN,27.186754,80.180000,NaN,69.580002,NaN,28.771437,4.18,4.38
2014-04-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-05-01,21.969999,76.722069,NaN,18.670000,7.080000,71.389565,62.590000,44.469833,60.222218,231.494186,...,41.066429,NaN,28.707693,64.019997,NaN,70.529999,NaN,33.370750,3.32,3.90
2014-05-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13.430000,NaN,NaN,NaN
2014-05-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-06-02,20.500000,81.998901,NaN,17.793333,7.360000,72.668213,64.639999,46.148193,61.587719,251.921829,...,41.119419,NaN,29.491926,64.610001,NaN,74.779999,15.000000,36.788277,3.29,3.39
2014-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-07-01,23.340000,85.388931,NaN,19.376667,8.040000,72.650337,73.010002,48.042774,62.735085,275.160126,...,42.706726,NaN,29.475903,77.629997,NaN,85.059998,17.299999,43.869659,3.39,3.23
2014-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-07-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-08-01,18.120001,87.772003,NaN,18.760000,7.000000,70.370232,68.940002,44.068577,63.648365,250.453781,...,36.667831,NaN,31.047306,66.309998,NaN,80.309998,17.549999,44.558777,3.44,2.87
2014-09-02,20.510000,94.787781,NaN,19.990000,8.160000,72.534096,72.099998,44.606106,65.326599,255.283051,...,37.507286,NaN,32.952049,84.959999,NaN,77.709999,27.740000,44.923603,3.84,3.01
2014-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-07-01,11.220000,90.913445,41.080002,19.570000,10.930000,107.290253,95.320000,52.812397,86.515472,189.112839,...,43.327217,NaN,22.691774,30.410000,35.560001,49.820000,26.799999,36.180000,3.79,2.55
2016-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-01,12.100000,100.546158,63.970001,19.730000,10.660000,106.685371,97.720001,59.666920,82.709724,220.338669,...,48.026711,NaN,24.609047,31.969999,39.840000,53.540001,30.030001,39.939999,3.90,2.88
2016-09-01,17.139999,101.739037,112.099998,19.230000,12.000000,108.745743,102.900002,59.198650,84.537987,203.011353,...,51.205967,NaN,23.953781,38.889999,34.209999,69.290001,30.730000,34.049999,3.90,2.68
2016-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-03,21.440001,107.258286,99.500000,19.160000,13.890000,114.227455,108.449997,60.315773,82.224602,209.492188,...,50.913303,NaN,24.632742,41.840000,34.930000,69.919998,31.049999,34.750000,4.05,2.86
2016-10-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-11-01,19.150000,106.276443,68.419998,19.010000,14.200000,110.908310,106.870003,59.705570,81.558403,195.346756,...,48.052795,NaN,23.123619,32.480000,33.020000,66.580002,26.070000,32.779999,4.08,2.80
2016-12-01,23.395000,104.905830,65.370003,18.040001,12.800000,112.359848,99.510002,65.151459,89.862480,220.948868,...,50.733795,NaN,23.001915,36.259998,33.849998,76.839996,20.830000,33.310001,4.40,2.87
2017-01-03,23.100000,111.286987,61.709999,18.559999,14.150000,111.213890,103.480003,68.455765,97.695740,225.625793,...,56.131210,NaN,25.538706,38.220001,37.220001,86.250000,22.129999,37.380001,4.96,2.65
2017-02-01,30.930000,123.359444,54.980000,18.940001,15.650000,108.110298,113.360001,71.911110,89.908409,223.088837,...,54.534790,NaN,26.205898,42.900002,35.200001,82.610001,24.400000,35.709999,4.77,2.55
2017-03-01,46.849998,134.517914,52.150002,19.709999,15.950000,118.481094,120.349998,79.508743,98.667984,240.323242,...,57.034145,NaN,27.392019,34.660000,35.389999,90.709999,28.209999,35.020000,5.14,2.71
2017-04-03,53.470001,138.280457,59.650002,21.240000,18.600000,112.340744,129.589996,77.116638,96.116234,242.953369,...,54.644978,NaN,26.930420,32.630001,33.750000,91.430000,27.740000,34.040001,4.76,2.83
2017-05-01,50.130001,141.051834,47.070000,21.820000,20.000000,116.989388,135.110001,72.351448,98.678833,246.010559,...,60.550995,NaN,26.224655,35.720001,39.919998,94.849998,29.120001,39.419998,5.60,2.87
2017-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-01,70.010002,148.011337,47.480000,23.160000,22.299999,120.887428,141.380005,78.037407,98.090378,235.001785,...,64.042229,NaN,26.373238,28.830000,44.700001,108.139999,27.049999,44.990002,5.92,3.58
2017-07-03,61.389999,138.657959,40.250000,22.219999,20.700001,119.575211,138.410004,72.655190,97.758316,251.125626,...,60.784851,NaN,26.849030,30.070000,48.860001,99.690002,27.230000,48.630001,5.60,3.62
2017-08-01,99.610001,144.986969,46.369999,23.200001,21.400000,125.296844,147.360001,75.366280,111.464737,233.270737,...,61.073120,NaN,30.208647,33.220001,45.470001,101.150002,28.980000,45.669998,5.45,3.62
2017-09-01,58.980000,159.137039,48.110001,22.730000,21.500000,125.528412,155.059998,80.549805,102.463928,219.475906,...,63.757652,NaN,30.301712,42.980000,39.669998,104.180000,27.480000,39.950001,5.22,3.74
2017-10-02,64.519997,149.203720,48.009998,23.180000,28.549999,130.680756,147.940002,82.373695,104.897644,218.033386,...,68.086090,NaN,31.370291,44.090000,40.599998,109.879997,29.459999,40.560001,5.19,3.84
2017-11-01,38.970001,161.892014,43.400002,23.770000,31.799999,139.272491,176.250000,87.336082,110.731674,220.470032,...,70.569153,NaN,28.398275,46.029999,40.299999,113.769997,30.610001,40.529999,4.70,3.84
2017-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-01,43.380001,166.523895,38.349998,22.889999,31.049999,142.789383,179.520004,82.403458,109.148430,228.629059,...,66.252113,NaN,27.863871,43.889999,40.810001,110.360001,33.389999,40.930000,4.49,3.96
2018-01-02,37.910000,167.701889,36.849998,22.690001,29.549999,149.871857,177.699997,87.112221,111.905991,249.437485,...,65.902611,NaN,27.771238,43.240002,42.480000,103.709999,34.060001,42.299999,4.48,3.92
2018-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
three_df = prices_df.loc['2014-01-02':'2017-01-03']
three_df = three_df.pct_change()
cumulative_returns = (1 + three_df).cumprod() - 1
test = cumulative_returns.tail(1).T

In [24]:
find_top = test.sort_values(by=['2017-01-03'], ascending=False)
top = find_top.head(10)
top = top.reset_index()
top

  index  2017-01-03
0    KE  909.000058
1    PI  784.555490
2  NVDA    5.719576
3  EBIX    3.151583
4   GTT    2.848821
5  AVGO    2.535250
6    EA    2.467805
7  IPHI    2.431644
8  IDCC    2.248051
9  LOGM    2.049125

In [25]:
top_list = []
top_list = top['index'].tolist()

In [26]:
top_list

['KE', 'PI', 'NVDA', 'EBIX', 'GTT', 'AVGO', 'EA', 'IPHI', 'IDCC', 'LOGM']

In [27]:
one_df = prices_df[top_list].copy()
one_df = one_df.loc['2017-01-03':'2018-01-02']
one_returns = one_df.pct_change()
one_returns

,KE,PI,NVDA,EBIX,GTT,AVGO,EA,IPHI,IDCC,LOGM
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-01,-0.060440,-0.017256,0.117047,-0.047619,0.005405,0.142144,0.048377,0.057296,0.034928,0.093164
2017-03-01,-0.038012,-0.154577,-0.096799,0.155992,0.010753,0.056213,0.058072,-0.018628,-0.078610,-0.081145
2017-04-03,0.000000,-0.023493,0.054383,-0.046457,-0.164894,0.021624,0.014689,0.020276,-0.002322,0.010720
2017-05-01,0.066869,0.238842,-0.016055,0.021470,0.188960,0.011517,0.063741,-0.104651,0.046711,0.160101
2017-05-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-06-01,0.028490,0.289896,0.355139,-0.093378,0.198214,0.059958,0.201287,-0.067060,-0.093140,-0.014070
2017-07-03,0.008310,0.043858,-0.034844,-0.026786,-0.070045,-0.016418,-0.074207,-0.142749,-0.047970,-0.088053
2017-08-01,0.076923,0.047032,0.180579,0.058715,-0.027244,0.081085,0.109087,0.160909,-0.063571,0.133430
2017-09-01,-0.012755,-0.221401,0.037206,0.012597,0.041186,0.017473,0.020441,-0.014496,-0.020776,-0.000351
2017-10-02,0.139535,0.043333,0.050100,0.127678,0.026899,-0.044621,-0.011399,0.033806,0.057285,-0.047640
2017-11-01,-0.009070,-0.193905,0.157542,0.026596,0.118644,0.078263,-0.029504,0.027209,-0.004042,0.114917
2017-11-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2017-12-01,-0.045767,-0.251220,-0.045283,0.149892,0.089532,0.047322,-0.073819,0.001458,0.000675,-0.054702
2018-01-02,-0.110312,-0.040717,0.008448,-0.004510,0.107459,-0.010237,0.032352,-0.083960,0.060013,-0.008997

In [28]:
weights = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
portfolio_monthly = one_returns.dot(weights)
portfolio_one = (1 + portfolio_monthly).cumprod() - 1

In [29]:
portfolio_one = portfolio_one.tail(1)

In [30]:
portfolio_one = pd.DataFrame(portfolio_one)
portfolio_one = portfolio_one.reset_index(drop=True)

In [31]:
portfolio_one = portfolio_one.rename(columns={0:'Annual Return'})
portfolio_one['Sector'] = "Information Technology"
portfolio_one['Year'] = '2017'
portfolio_one['Portfolio']='Top'
portfolio_one

   Annual Return                  Sector  Year Portfolio
0       0.232708  Information Technology  2017       Top

In [32]:
IT_csv = Path("./top_IT.csv")
portfolio_one.to_csv(path_or_buf=IT_csv, index=False)